@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');

/*add padding border and margin zero default*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*adding body styling with adobe font*/
body {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 250;
    color: #939896;
}

h1, h2 {
    font-family: freight-text-pro,serif;
    font-weight: 600;
    font-style: normal;
    color: #414042;
    letter-spacing: 2.5px;
}

h3 {font-family: proxima-nova,sans-serif;
    color: #ffff;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
}




header {position: sticky;
        top: 0;
        background-color: #ffff;  
    }


#croghan_logo {
    font-size: 260%;
    text-decoration: none;
    text-transform: uppercase;
}

/*centering logo at top of screen in middle ref=https://www.geeksforgeeks.org/how-to-make-elements-float-to-center/*/

.center {
    text-align: center;
    position: relative;
    top: 20px;
}

/*remove underline decoration*/
.center a {
    text-decoration: none;
}

nav {
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    
}

nav li {
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-right: 30px;
    margin-top: 15px;
    list-style-type: none;
    padding-bottom: 20px;
    color:#414042;
}

/*hover underline style for nav bar*/
nav a:hover {
    text-decoration: underline !important;
    
}

nav a {
    text-decoration: none;
    color:#414042;
}

/*hero image*/

#hero_image {
    height: 700px;
    width: 100%;
    background: url('./images/pexels-flora-westbrook-4191621.jpg') no-repeat center center;
    background-size: cover;
    clear: both;
    
}

/*adding cover text on hero image*/

#cover_text {
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
    overflow: hidden;
    background-color: rgba(242, 95, 52, .7);
    border-radius: 180%;

}

#cover_text h2 {
    font-style: italic;
    color: #ffff;
    font-size: 120%;
    font-family: proxima-nova, serif;
    text-align: center;
    margin-top: 25%;
}

/*header style*/

header {
    height: 100px;
    width: 100%;
}

/*Brand Values Section*/

#brand_values {
    height: 700px;
    
}

#brand_values h2 {
    text-align: center;
    margin: 40px 0;
    font-size: 220%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

/*left brand values container*/
.left_bv {
    float: left;
    width: 50%;
    padding-top: 30px;
    height: 600px;
}


.left_bv_content {
    text-align: center;

}

.left_bv_content h2 {
    font-size: 150%;
    letter-spacing: 2.5px;
}


/*right brand values container*/
.right_bv {
    float: left;
    width: 50%;
    padding-top: 30px;
    height: 600px;
}


.right_bv_content {
    text-align: center;

}

.right_bv_content h2 {
    font-size: 150%;
    letter-spacing: 2.5px;
}

/*footer styling*/

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(44, 42, 42);

}

/*social networks styling ref love running project*/
.social_networks {
    text-align: center;

}

.social_networks > li {
    display: inline;
 
}


.social_networks i {
    font-size: 200%;
    padding: 2px;
    margin: 80px;
    color: #ffff;
}


/*Button "contact us" styling and effect*/
#contact_section {
    height: 200px;
    width: 100%;
    margin-top: 80px;
    
}

#button {
    background-color: #414042;
    color: #ffff;
    padding: 35px 45px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    text-transform: uppercase;
    border-style: outset;
    border-width: 2px;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.5px;

}


#button_container a:hover {
    background-color: #939896;
    
}


#button_container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

/*find us section*/
#find_us {
    background-image: url(./images/HDRshooter-super-ultra-wide-wallpaper-043-X2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 425px;
    width: 100%;
    overflow: hidden;

}

#find_us div {
    color: #ffff;
    background-color: rgba(73, 47, 47, 0.5);
    height: 425px;
    width: 25%;
    float: left;
    text-align: center;
    border: solid 1px;
    border-color: #ffff;
    box-sizing: border-box;
    padding: 5px;
    
}

#find_us h2 {
    font-family: freight-text-pro,serif;
    color: #ffff;
    letter-spacing: 2.5px;
    margin-top: 15%;
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    }

#find_us h3 {
    font-family: proxima-nova, serif;
    letter-spacing: 2.5px;
    padding-top: 10px;
    font-size: 110%;
    margin-top: 5%;
}

/*title for find us section*/
#find_us_title {
    text-align: center;
    margin: 40px 0;
    font-size: 220%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}


/*about us page cover text for hero image */
#cover_text_about {
    width: 350px;
    height: 250px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgba(242, 95, 52, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}

#cover_text_about h3 {
    padding: 10px;
    font-size: 180%;

}

#cover_text_about p {
    margin-top: 10px;
    letter-spacing: 2.5px;
    font-size: 150%;
    color: #ffff;
    text-align: center;
}

